:root {
  display: border-box;
}
body {
  background-color: rgb(194, 194, 194) ;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#titleDiv {
  display: block;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  float: left; 
  color: rgb(63, 2, 114);
}

#navBar {
  display: flex;
  flex-grow: 1; 
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 0px;
  margin-top: 100px;
  overflow: hidden;
  background-color:rgb(63, 2, 114);
  font-family: Arial, Helvetica, sans-serif;
  width: 265px;
  float: right;
}

#navBar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0px
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .drop {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0px;
  
}

#navBar a:hover, .dropdown:hover .drop, .drop:focus {
  background-color: plum;
}

.dropdown-content {
  
  display: none;
  right: 7px;
  flex-direction: column;
  position: absolute;
  background-color:rgba(63, 2, 114, 0.3);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
  width: 150px;
  z-index: 1;
  text-align: right;
}

#myDropdown a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

.dropdown-content a:hover {
  background-color: gray;
}

.show {
  display: block;
}
#headings {
  box-shadow: 10px 10px 5px grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 200px;
  background-color: plum;
}
.userPic {
  box-shadow: 10px 10px blue, -10px -10px red;
  height: 160px;
  width: 135px;
  background-color: powderblue;
}

#upperContainer {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  height: 500px;
  top: 30px;
}
.left img {
  height: 100px;
  width: 165px;
}
.right img {
  height: 100px;
  width: 100px;
}
.right {
  margin-left: 35px;
}
.bookContainer1 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookImage3 {
  box-shadow: 10px 10px 5px grey;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 250px;
  transition: transform 0.4s;
  margin: 0;
  z-index: 0;
  margin: 20px;
  border: 1px solid black;
  
}
.bookImage3:hover {
  transform: scale(1.2);
  z-index: 1;
}

.bookImage3 img {
  height: 350px;
  width: 250px;
  
}
.bookContainer2 {
  cursor: pointer;
  display: flex;
justify-content: center;
}
.bookImage img {
  height: 350px;
  width: 250px;
}

.bookImage  {
  box-shadow: 10px 10px 5px grey;
  border: 1px solid black;
  position: relative;
  height: 350px;
  width: 250px;
  transition: transform 0.4s;
  margin: 0;
  margin: 20px;
  z-index: 0;
  
}

.bookImage:hover {
  transform: scale(1.2);
  z-index: 1;
}
.bookContainer3 {
  cursor: pointer;
  display: flex;
justify-content: center;
}
.bookImage2 {
  box-shadow: 10px 10px 5px grey;
  position: relative;
  border: 1px solid black;
  height: 350px;
  width: 250px;
  transition: transform 0.4s;
  margin: 0;
  z-index: 0;
  margin: 20px;
  
}
.bookImage2:hover {
  transform: scale(1.2);
  z-index: 1;
}

.bookImage2 img {
  height: 350px;
  width: 250px;
}

.progressBar1 {
  position: absolute;
  height: 30px;
  width: 247px;
}
.progress1 {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(63, 2, 114);
  height: 30px;
  width: 60%;
}

.progressBar2 {
  position: absolute;
  height: 30px;
  width: 247px;
}
.progress2 {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(63, 2, 114);
  height: 30px;
  width: 60%;
}

.progressBar3 {
  position: absolute;
  height: 30px;
  width: 247px;
  margin-top: 354px;
}
.progress3 {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(63, 2, 114);
  height: 30px;
  width: 60%;
}

h3 {
  color: white;
  font-weight: 800;
  right: 5px;
}

#lowerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.placeHolder1 {
  height: 250px;
  width: 350px;
}
.placeHolder2 {
  height: 250px;
  width: 350px;
}
