:root {
  display: border-box;
}
body {
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
  align-content: center;
  justify-content: center;
}
#headings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 5px dotted black;
  height: 200px;
  background-color: plum;
}
.userPic {
  height: 195px;
  width: 160px;
  background-color: powderblue;
}
h1 {
  color: red;
}
h2 {
  order: 2;
  position: relative;
  border: 1px dotted black;
  /* left: 200px;
  top: 17px; */
  justify-self: center;
  align-self: center;
  font-size: 50px;
}
#upperContainer {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  height: 500px;
  top: 50px;
}
.bookContainer1 {
  display: flex;
justify-content: center;
align-items: center;
  border: 1px dotted black;
}
.bookImage3 {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 250px;
  transition: transform 0.4s;
  margin: 0;
  z-index: 0;
  margin: 3px;
  border: 1px solid black;
  margin-left: 20px;
}
.bookImage3:hover {
  transform: scale(1.2);
  z-index: 1;
}

.bookImage3 img {
  height: 350px;
  width: 250px;
  
}
.bookContainer2 {
  display: flex;
justify-content: center;
  border: 1px dotted black;
}
.bookImage img {
  height: 350px;
  width: 250px;
}

.bookImage {
  border: 1px solid black;
  position: relative;
  height: 350px;
  width: 250px;
  transition: transform 0.4s;
  margin: 0;
  margin: 3px;
  z-index: 0;
  margin-left: 20px;
}

.bookImage:hover {
  transform: scale(1.2);
  z-index: 1;
}
.bookContainer3 {
  display: flex;
justify-content: center;
  border: 1px dotted black;
}
.bookImage2 {
  position: relative;
  border: 1px solid black;
  height: 350px;
  width: 250px;
  transition: transform 0.4s;
  margin: 0;
  z-index: 0;
  margin: 3px;
  margin-left: 20px;
}
.bookImage2:hover {
  transform: scale(1.2);
  z-index: 1;
}

.bookImage2 img {
  height: 350px;
  width: 250px;
}
/* .bookImage2 {
  position: absolute;
  border: 1px solid black;
  height: 250px;
  width: 200px;
} */
.progressBar1 {
  position: absolute;
  border: 2px solid black;
  height: 30px;
  width: 247px;
  /* left: 310px;
  top: 55px; */
  /* border-radius: 10px; */
}
.progress1 {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: blue;
  height: 30px;
  width: 60%;
  /* border-top-left-radius: 8px;
  border-bottom-left-radius: 8px; */
}
.progressBar2 {
  position: absolute;
  border: 2px solid black;
  height: 30px;
  width: 247px;
  /* left: 310px;
  top: 55px; */
  /* border-radius: 10px; */
}
.progress2 {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: blue;
  height: 30px;
  width: 60%;
  /* border-top-left-radius: 8px;
  border-bottom-left-radius: 8px; */
}
.progressBar3 {
  position: absolute;
  border: 2px solid black;
  height: 30px;
  width: 247px;
  margin-top: 354px;
  /* left: 310px;
  top: 55px; */
  /* border-radius: 10px; */
}
.progress3 {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: blue;
  height: 30px;
  width: 60%;
  /* border-top-left-radius: 8px;
  border-bottom-left-radius: 8px; */
}
h3 {
  color: white;
  font-weight: 800;
  right: 5px;
}
#lowerContainer {
  border: 1px dotted black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.placeHolder1 {
  border: 1px dotted black;
  height: 250px;
  width: 350px;
}
.placeHolder2 {
  border: 1px dotted black;
  height: 250px;
  width: 350px;
}
