:root {
  display: border-box;
}
body {
  background-color: rgb(194, 194, 194) ;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#titleDiv {
  display: flex;

}
h1 {
  color: rgb(63, 2, 114);
}

#headings {
  box-shadow: 10px 10px 5px grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 200px;
  background-color: plum;
}
.userPic {
  box-shadow: 10px 10px blue, -10px -10px red;
  height: 160px;
  width: 135px;
  background-color: powderblue;
}

#upperContainer {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  height: 500px;
  top: 50px;
}
.left img {
  height: 100px;
  width: 165px;
}
.right img {
  height: 100px;
  width: 100px;
}
.right {
  margin-left: 35px;
}
.bookContainer1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookImage3 {
  box-shadow: 10px 10px 5px grey;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 250px;
  transition: transform 0.4s;
  margin: 0;
  z-index: 0;
  margin: 20px;
  border: 1px solid black;
  
}
.bookImage3:hover {
  transform: scale(1.2);
  z-index: 1;
}

.bookImage3 img {
  height: 350px;
  width: 250px;
  
}
.bookContainer2 {
  display: flex;
justify-content: center;
}
.bookImage img {
  height: 350px;
  width: 250px;
}

.bookImage  {
  box-shadow: 10px 10px 5px grey;
  border: 1px solid black;
  position: relative;
  height: 350px;
  width: 250px;
  transition: transform 0.4s;
  margin: 0;
  margin: 20px;
  z-index: 0;
  
}

.bookImage:hover {
  transform: scale(1.2);
  z-index: 1;
}
.bookContainer3 {
  display: flex;
justify-content: center;
}
.bookImage2 {
  box-shadow: 10px 10px 5px grey;
  position: relative;
  border: 1px solid black;
  height: 350px;
  width: 250px;
  transition: transform 0.4s;
  margin: 0;
  z-index: 0;
  margin: 20px;
  
}
.bookImage2:hover {
  transform: scale(1.2);
  z-index: 1;
}

.bookImage2 img {
  height: 350px;
  width: 250px;
}

.progressBar1 {
  position: absolute;
  height: 30px;
  width: 247px;
}
.progress1 {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(63, 2, 114);
  height: 30px;
  width: 60%;
}

.progressBar2 {
  position: absolute;
  height: 30px;
  width: 247px;
}
.progress2 {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(63, 2, 114);
  height: 30px;
  width: 60%;
}

.progressBar3 {
  position: absolute;
  height: 30px;
  width: 247px;
  margin-top: 354px;
}
.progress3 {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(63, 2, 114);
  height: 30px;
  width: 60%;
}

h3 {
  color: white;
  font-weight: 800;
  right: 5px;
}

#lowerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.placeHolder1 {
  height: 250px;
  width: 350px;
}
.placeHolder2 {
  height: 250px;
  width: 350px;
}
